/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
!.env.example
_ide_helper.php
_ide_helper_models.php
/storage/
/public/css/
/public/js/
/public/build/
/public/mix-manifest.json
/resources/assets/.sass-cache/
.phpunit.result.cache
