/public/js
/resources/assets/.sass-cache
/public/css
/public/build
# Laravel 5 & Lumen specific
bootstrap/cache/
storage/

/.phpstorm.meta.php
/.idea
/lva-server
/vendor
/node_modules
.env
.env.*
!.env.example
_ide_helper.php
