/public/js
/resources/assets/.sass-cache
/public/css
/public/build
# Laravel 5 & Lumen specific
bootstrap/cache/
storage/

/.phpstorm.meta.php
/.idea
/.vagrant
/puphpet
/vendor
/node_modules
.env
.env.*
!.env.example
!.env.travis
_ide_helper.php
_ide_helper_models.php
/Vagrantfile
