@import "partials/variables";
@import "partials/base";
@import "partials/lva-header";

#app-navbar {
  z-index: 1000;
  width: 100%;
  top: 0;
  margin-bottom: 1px;
  background-color: $lva-navbar-color;
  border: none;

  .navbar-brand {
    padding-top: 0;
  }

  .dropdown.open {
    .dropdown-toggle {
      background-color: $lva-color;
    }
  }
}

#breadcrumbs {
  width: 100%;
  background-color: $lva-light-color;
  //position: absolute;
  //top: 282px;
  margin-bottom: 10px;
  border: none;

  .breadcrumb {
    background-color: $lva-light-color;
    margin-bottom: 0;
  }
}

#page-content {
  //position: absolute;
  //top: 348px;
}