#app-navbar {
  z-index: 1000;
  width: 100%;
  top: 0;
  margin-bottom: 0;
  background-color: $navbar-bg-color;
  border: none;
  border-radius: 0;

  .navbar-toggle:not(.collapsed) {
    background-color: $navbar-open-burger-bg-color;
  }

  .navbar-toggle.collapsed:hover,
  .navbar-toggle.collapsed:hover:focus {
    background-color: $navbar-burger-hover-bg-color;
  }
  .navbar-toggle.collapsed:focus {
    background-color: $navbar-burger-focus-bg-color;
  }

  .dropdown.open {
    .dropdown-toggle {
      background-color: $navbar-dropdown-bg-color;
    }
  }

  .dropdown-menu {
    padding: 0;

    li {
      padding: 5px 0;
      &:hover {
        background-color: $navbar-hover-bg-color;
      }
      a:hover {
        background-color: $navbar-hover-bg-color;
      }
    }

    .divider {
      margin: 0;
      padding: 0;
    }
  }
}