@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$header-text-color: #3cb1e5;
$navbar-dropdown-bg-color: #3cb1e5;
$navbar-drowdown-menu-border-color: #3cb1e5;
$navbar-open-burger-bg-color: #3cb1e5;
$navbar-burger-hover-bg-color: #3cb1e5;

$breadcrumbs-bg-color: #daf2fb;

$navbar-bg-color: #b2e4f6;
$navbar-hover-bg-color: #b2e4f6;
$navbar-burger-focus-bg-color: #b2e4f6;
