#breadcrumbs {
  z-index: 900;
  width: 100%;
  top: 50px;
  background-color: $breadcrumbs-bg-color;
  //position: absolute;
  //top: 282px;
  margin-bottom: 10px;
  border: none;

  .breadcrumb {
    background-color: $breadcrumbs-bg-color;
    margin-bottom: 0;
  }
}
